.container {
  background-color: rgb(93, 193, 112);
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.form {
  text-align: center;
}

.text-input {
  display: block;
  margin: 10px 10px;
}


.btn-submit{
  display: inline-block;
  margin: 10px 10px;
}

.btn-submit:hover {
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
}

.Jokes {
  text-align: left;
  background-color: rgb(165, 241, 216);
  padding: 10px 10px;
}

.Jokes ul {
  list-style-type: none;
}

.Jokes ul li {
  color: white;
  background-color: rgb(91, 54, 170);
  border: 1px solid red;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
}
